// font
@font-face {
    font-family: 'Myriad Pro Light';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Light'), url('../../../dist/fonts/MyriadPro-Light.woff') format('woff');
    }

@font-face {
    font-family: 'Myriad Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Regular'), url('../../../dist/fonts/MYRIADPRO-REGULAR.woff') format('woff');
    }    
     